@media screen and (min-width:769px)
{
#register
{
    width:449px;
    height:578px;
    background-color:#ebebeb;
    margin-left:435px;
    margin-top:55px;
    
    
}

#registerform
{
    width:449px;
    height:578px;
    margin-top:-800px;
    padding-left:35px;
    width:100%;
    
}
}
@media screen and (min-device-width:481px)  and (max-device-width: 768px)
{
    #register
    {
    margin-left:235px;
    }
    
}