
@media screen and (min-width:769px)
{
#wrapper
{
    width:1280px;
    height:1435px;
    margin:0 auto;
    margin-left:auto;
    margin-right:auto;
    position:relative;
    background-color: white;
    padding:30px 30px;
    font-family:verdana;
    border:1px solid black;
}

header
{
  height:84px;
  width:100%;
  background-color:#ef597b; 
}

#logo img
{
    width:125px;
    height:84px;
    background-color:#c2344c;
    float:left;
    font-size:50px;
    
}

form
{
padding-top:55px;
padding-left:350px;
float:left;

}
#shoppingcart
{
    width:22px;
    height:18px;
    float:left;
    padding-top:58px;

}

#mainNav ul li
{
    list-style-type: none;
    color:black;
}
#mainNav ul li a
{	
    padding-top:58px;
	display:block;
    font-size:14px;
	float:left;    
	width:80px;
    list-style-type: none;
    text-decoration: none;
    color:black;
    height:30px;

}

#section1
{
    padding-bottom:75px;
    float:left;
    display:inline-block;
    width:100%;
}

h1
{
 font-size:20px;   
}

#subNav
{
    margin-top:55px;
    font-size:14px;
    background-color:#2e4930;
    color:white;
    height:666px;
    width:191px;
    float:left;  
}

#subNav ul li
{
    margin-left:-40px;
    padding:0;
    list-style-type: none;   
}

#subNav ul li a
{	padding-top:20px;
    padding-bottom:20px;
	display:block;         
	width:80px;
    list-style-type: none; 
    text-decoration:none;
    color:white;
    border:1px solid pink;
    width:169px;
    padding-left:20px;
    
}
#subNav p
{
align:left;
}

#subNav ul li a:hover,           
#subNav ul li a:focus                     
{ 
	 background-color: yellow; 
}


#img4,#img5,#img6
{
    text-align:center;
    font-size:14px;
    float:right;
    width:195px;
    height:195px;
    padding-right:150px;
    
}
footer
{
    background-color:#ef597b;
    width:100%;
    height:99px;
    clear:both;
}
#footerNav ul li
{
    list-style-type: none;
    color:black;
}
#footerNav ul li a
{	
    text-align:center;
    margin-left:28px;
    text-decoration: none;
    padding-top:40px;
    padding-left:34px;
    padding-right:50px;
	display:block;   
	float:left;
    font-size:16px;
	width:80px;
    list-style-type: none;   
    color:black;
    white-space:nowrap;

}

#footerNav ul li a:hover,           
#footerNav ul li a:focus                     
{ 
	 background-color: yellow; 
}
#footerNav p
{
    margin-left:300px;
    float:left;
    color:white;
}
    
#searchbar
 {
    width:300px; 
    height:18px;
}
    
#scp
{
    margin-top:-800px;
    padding-left:5px;
    padding-top:15px;
    margin-left:230px;
    font-size:18px;
}
    #scp p
    {
       padding-right:35px; 
    }
#items
{
    margin-top:-40px;
    width:250px;
    float:left;
    
}
#items p
{
    text-align:center;
    margin-right:20px;
}

#description
{
 float:left;
 width:380px;
 margin-left:30px;
 margin-top:-40px;
}

#description p
{
font-size:16px;
margin-top:-8px;
text-align:center;
margin-left:-80px;
padding-right:40px;
}

#unitprice
{
    width:100px;
    margin-left:-55px;
    margin-top:-40px;
    float:left;
}

#selectParent
{
    width:100px;
    margin-left:45px;
    margin-top:-40px;
    float:left;
}

#selectDelivery
{
     float:left;
    margin-top:-45px;
    margin-left:120px;
}

#checkout
{
    margin-top:300px;
}
#subtotal p 
{
    margin-left:-750px;
    width:1065px;
}
    
#BSsection2
{
    width:85%;
    height:1165px;
    align-content:center;
    margin-top:-725px;
    margin-left:200px;
    float:left;
}

    .r2
{
    width:100%;
    height:365px;
    align-content:center;
    margin-left:33px;
    margin-top:-30px;
}
    .r2 h3
{
    margin-left:55px;
}

#img7,#img8,#img9
{
    text-align:center;
    font-size:14px;
    float:right;
    width:195px;
    height:195px;
    padding-right:150px;
} 
}

@media screen and (min-device-width:481px)  and (max-device-width: 768px)
{
#wrapper
{
    width:768px;
    height:938px;
    padding:25px 25px;
    
    
}
    #logo img
    {
        width:86px;
        height:83px;
    }
    header
    {
        width:100%;
        height:83px;
        margin-top:-18px;
    }
#hform
{
font-size:14px;
padding-top:50px;
padding-left:122px;

}
    #mainNav ul li a
{	
    padding-top:58px;
	display:block;
	width:80px;
    height:30px;

}
    #subNav
    {
        
        width:160px;
    }
    #subNav ul li a
    {
        width:140px;
    }
    #imageslider pic img
{
    height:571px;
    width:321px;
}
    #searchbar
    {
      width:150px; 
      height:14px;
    }
    
    #section1
{
    
    padding-bottom:75px;
    width:100%;
    height:700px;
}
    #footerNav ul li a
{	
    margin-left:-20px;
    padding-right:50px;
    padding-left:10px;
    padding-top:20px;

}
 #footerNav p
{
    margin-left:80px;
    float:left;
    color:white;
}   
footer
    {
        height:80px;
        clear:both;
    }
    
        

}
@media screen and (max-device-width:480px)
{
#wrapper
{
    width:480px;
    height:950px;
    padding:18px 18px;
    
    
}
#logo img
{
    width:70px;
    height:72px;
    margin-left:205px;
    margin-top:-70px;
}
header
{
    width:100%;
    height:50px;
    margin-top:64px;
}
#hform
{
font-size:14px;
padding-top:-50px;
padding-left:122px;

}
#mainNav
{
margin-top:-50px;     
}
#mainNav ul li a
{	
    padding-top:10px;
	display:block;
	width:75px;
    height:30px;

}
#searchbar
    {
      width:75px; 
      height:14px;
    }
#subNav
{
width:160px;
}
#subNav ul li a
{
width:140px;
}
}
